@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .grad{
        @apply bg-gradient-to-r from-slate-100 from-10% via-slate-200 via-30% to-slate-300 to-90%
    }

    label{
        @apply font-bold mt-2 mb-1
    }

    .btn{
        @apply bg-black text-white w-20  rounded p-1
    }

    input {
        @apply border border-gray-300 rounded outline-none
    }

    
    input:focus {
        border-color: #00c853; /* Change border color on focus */
        /* border-radius: 1rem;  Change border radius on focus */
        outline: none; /* Remove the default focus outline (optional) */
    }

    table.basic{
        @apply w-full border-2 mt-5 border-black
    }
    table.basic tr td {
        @apply border  border-black p-1
    }

    table.basic thead tr td {
        @apply bg-slate-400
    }

    table.basic a{
        @apply  text-white p-1 rounded px-4 inline-flex
    }
    
}

.shad{
    box-shadow: 0 2px 5px 0 rgba( 31, 38, 135, 0.37 );
}

.active-link {
    background-color: black;
    color: white;
}

.customblue{
    background-color: #002244;
}
.glass{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 2px 5px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }